# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log/

# Dependency directories
node_modules/
jspm_packages/

# Build output
build/
dist/

# Temporary files
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Coverage files
coverage/
.nyc_output/

# Environment variables (Add `.env.local` for Next.js/React)
.env
.env.production
.env.beta
.env.beta.local
.env.development
.env.local
utilities/testConnection.js

# Ignore Security Group Configurations
security-group.json

# IDE files
.idea/
.vscode/
*.iml

# Testing
/coverage/

# Parcel cache
.cache/

# Webpack output
.next/
.nuxt/
.vuepress/dist/

# Service Worker
/service-worker.js

# Redis (Ignore Redis temp/cache files)
.redis/
dump.rdb
appendonly.aof

# Docker files (Ignore if using Docker)
.dockerignore
Dockerfile
docker-compose.yml

# Terraform files (Ignore if using Terraform)
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Binaries
*.exe
*.dll
*.so
*.dylib

# Local application config
.local/
*.~lock

# Git temporary files
*.orig

# SendGrid .env
sendgrid.env

backend/backend@1.0.0
backend/cross-env

# Untracked Changes
appendonlydir/
